<table style="table-layout: auto; width: 100%">
    <style>
        tbody tr {
            cursor: pointer;
        }

        tbody tr:hover {
            background-color: #f2f2f2;
        }
    </style>
    <thead>
        <tr style="height: 60px">
            <th>ID</th>
            <th>Total</th>
            <th>Quantity</th>
            <th>Name Custumer</th>
            <th>Phone Custumer</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr style="height: 60px; text-align: center">
            <td>#100</td>
            <td>300.000 VND</td>
            <td>x10</td>
            <td th:text="${message}"></td>
            <td>0344507491</td>
            <td>Delivered</td>
        </tr>
        <tr style="height: 60px; text-align: center">
            <td>#100</td>
            <td>300.000 VND</td>
            <td>x10</td>
            <td th:text="${message}"></td>
            <td>0344507491</td>
            <td>Delivered</td>
        </tr>
        <tr style="height: 60px; text-align: center">
            <td>#100</td>
            <td>300.000 VND</td>
            <td>x10</td>
            <td th:text="${message}"></td>
            <td>0344507491</td>
            <td>Delivered</td>
        </tr>
        <tr style="height: 60px; text-align: center">
            <td>#100</td>
            <td>300.000 VND</td>
            <td>x10</td>
            <td th:text="${message}"></td>
            <td>0344507491</td>
            <td>Delivered</td>
        </tr>
        <tr style="height: 60px; text-align: center">
            <td>#100</td>
            <td>300.000 VND</td>
            <td>x10</td>
            <td th:text="${message}"></td>
            <td>0344507491</td>
            <td>Delivered</td>
        </tr>
    </tbody>
</table>
